.Editor {
  display: flex;
  flex: 1 1 auto;
  height: 1px;
  font-size: 0.7rem;
}

.Editor .EditorContents {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
}

.excalidraw .Editor input[type="text"] {
  width: 100%;
  padding: 0.2rem;
  font-size: 0.7rem;
}

.Editor .Dualities {
  list-style: none;
  padding: 0.5rem;
}

.Editor .Dualities > li {
  padding-bottom: 1rem;
  border-bottom: 1pt solid lightgray;
}

.Editor .Dualities ul {
  list-style: none;
  padding: 0.5rem 0;
}

.Editor .Duality {
  width: 100%;
  list-style: none;
  padding: 0.5rem;
}

.Editor .EditorControls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}

.Editor .DataItem .ItemControls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Editor .DualitySwapControl {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
}

.Editor .swap-btn {
  display: inline-flex;
  padding: 0.1rem 0.2rem;
  margin-left: 0.2rem;
  height: 1.5rem;
  font-size: 0.65rem;
}

.Editor .Duality tr td:first-child {
  white-space: nowrap;
}

.Editor .Duality tr td:has(input) {
  padding: 0 0.25rem;
}
