.OptionsPanel {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 1px;
  font-size: 0.7rem;
}

.OptionsPanel .OptionsPanelContents {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
}

.OptionsPanel .OptionsPanelContents > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.OptionsPanel .OptionsPanelContents > .GeneralOptions {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  overflow: auto;
}

.OptionsPanel .OptionsPanelContents > .GeneralOptions > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.excalidraw .SelectOption select:disabled,
.excalidraw .Switch.disabled {
  color: #ccc;
}

.excalidraw.theme--dark .BooleanOption .Switch.disabled,
.excalidraw.theme--dark select:disabled {
  color: #555;
}
